@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: black;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'JetBrains Mono', monospace;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
footer {
    height: 5%;
    width: 100%;
    flex-shrink: 0;
}

#container {
    height: 90%;
    width: 100%;
    flex-shrink: 0;
}

main {
    background-color: rgba(102, 96, 209, 0.5);
    outline: 5px double white;
    width: 400px;
    height: 500px;
}



#display {
    width: auto;
    height: 20%;
    padding: 5px;
}

#screen {
    background-color: rgba(102, 96, 209, 0.2);
    border: 1px rgba(102, 96, 209, 0.5) groove;
    width: 96%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#input {
    background-color: rgba(102, 96, 209, 0.4);
    height: 60%;
    padding: 0 0.5rem;
    text-align: end;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

#output {
    background-color: rgba(102, 96, 209, 0.2);
    height: 40%;
    padding: 0 0.5rem;
    text-align: end;
    font-size: 1rem;
}

#keypads {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 1rem;
    padding: 1rem;
    place-items: center;
}

button {
    background-color: inherit;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-weight: bolder;
    font-size: 1.25rem;
    font-family: 'JetBrains Mono', monospace;
    transition-duration: 0.2s;
}

button:active, button.active {
    transform: scale(0.90);
}

button.btn-digits {
    border-color: navy;
}

button.btn-digits:active, 
button.btn-digits.active {
    background-color: navy;
}

button.btn-operators {
    border-color: rgba(11,127,171,1);
}

button.btn-operators:active,
button.btn-operators.active {
    background-color: rgba(11,127,171,1);
}

button.btn-alters {
    border-color: rgba(132, 140, 207, 1);
}

button.btn-alters:active, 
button.btn-alters.active {
    background-color: rgba(132, 140, 207, 1);
}

button.btn-controls {
    border-color: rgba(0, 181, 204, 1);
}

button.btn-controls:active,
button.btn-controls.active {
    background-color: rgba(0, 181, 204, 1);
}