* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: rgba(255, 91, 99, 0.3);
    outline: 5px double white;
    width: 400px;
    height: 500px;
}

#display {
    width: auto;
    height: 20%;
    padding: 5px;
}

#screen {
    background-color: darkred;
    width: 98%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#input {
    background-color: green;
    height: 40%;
}

#output {
    background-color: blue;
    height: 60%;
}

#keypads {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem 1rem;
    padding: 1rem;
    place-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: inherit;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}